@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

:root {
    --font: "Baloo 2", cursive;
    --slowness-trans: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

*, *::before, *::after {
    text-align: center;
    font-family: var(--font);
    box-sizing: border-box;
    user-select: none;
}

#title {
    font-size: 3.5rem;
    line-height: 4rem;
    text-decoration: underline;
    margin: auto 0 1rem 0;
}

.pick-section {
    padding: 2% 10%;
}

.pick-section .scoreboard {
    width: max-content;
    margin: 0 auto;
    padding: 2% 3%;
    font-size: 1.5rem;
    border: 4px solid black;
    border-radius: 20px;
}

#picks {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
}

.pick {
    display: inline-flex;
    flex-direction: column;
    margin: 0 1.5rem;
    padding: 2% 3% 1% 3%;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.pick svg {
    margin: 0 auto;
    width: 4rem;
    height: auto;
    fill: white;
}

.game {
    display: flex;
    justify-content: center;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-width: auto;
    max-height: max-content;
    margin: 0 2%;
    padding: 2%;
    border: 4px solid black;
    border-radius: 15px;
}

.score-container p {
    font-size: 1.4rem;
    margin: 0 0 0 0;
}

.score-show {
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background-color: black;
    padding: 0 4px;
    border-radius: 10px;
}

#show-point {
    font-size: 2rem;
}

#win {
    background-color: #407515;
    color: white;
    text-shadow: black;
    transition: var(--slowness-trans);
}

#lose {
    background-color: #751b15;
    color: white;
    text-shadow: black;
    transition: var(--slowness-trans);
}

#tie {
    background-color: #0e2251;
    color: white;
    text-shadow: black;
    transition: var(--slowness-trans);
}